<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.memberTest.persistence.ReplyMapper">
    <select id="getList" resultType="com.memberTest.domain.ReplyVO">
        select * from springreply where bno = #{bno}
    </select>

</mapper>